Calculating Potential Customer Returns with Rule-Based Classification

In [179]:
import pandas as pd
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')

In [180]:
df = pd.read_excel("data/miuul_gezinomi.xlsx")

In [181]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.30,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.97,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.84,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.71,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.48,Yarım Pansiyon,İzmir,Saturday,2,Low

In [182]:
print(df.nunique())

SaleId                51861
SaleDate               2314
CheckInDate            2173
Price                 19642
ConceptName               3
SaleCityName              6
CInDay                    7
SaleCheckInDayDiff      309
Seasons                   2
dtype: int64

In [183]:
df.value_counts()

SaleId  SaleDate    CheckInDate  Price   ConceptName     SaleCityName  CInDay    SaleCheckInDayDiff  Seasons
365764  2022-05-03  2022-07-08   145.91  Herşey Dahil    Aydın         Friday    66                  High       4
402044  2022-09-03  2022-09-04   50.88   Herşey Dahil    Muğla         Sunday    1                   High       4
402047  2022-09-03  2022-09-04   50.88   Herşey Dahil    Muğla         Sunday    1                   High       4
402140  2022-09-04  2022-09-17   92.19   Herşey Dahil    Aydın         Saturday  13                  High       4
226222  2019-07-28  2019-08-04   132.28  Herşey Dahil    Muğla         Sunday    7                   High       3
                                                                                                               ..
415085  2022-12-03  2022-12-09   45.79   Yarım Pansiyon  Antalya       Friday    6                   Low        1
415091  2022-12-03  2022-12-03   70.27   Yarım Pansiyon  İzmir         Saturday  0                   Low        1
415094  2022-12-03  2022-12-10   222.71  Yarım Pansiyon  İzmir         Saturday  7                   Low        1
415103  2022-12-03  2022-12-03   45.97   Yarım Pansiyon  Antalya       Saturday  0                   Low        1
415122  2022-12-03  2022-12-03   79.30   Herşey Dahil    Antalya       Saturday  0                   Low        1
Name: count, Length: 56472, dtype: int64

In [184]:
df.groupby(["ConceptName"])[["SaleId"]].agg("count").rename(columns={"SaleId": "SaleCount"})

                SaleCount
ConceptName
Herşey Dahil        53186
Oda + Kahvaltı       2419
Yarım Pansiyon       3559

In [185]:
df.groupby(["SaleCityName"])[["Price"]].agg("sum").rename(columns={"Price": "CityTotalEarnings"})

              CityTotalEarnings
SaleCityName
Antalya            2,041,911.10
Aydın                573,296.01
Diğer                154,572.29
Girne                 27,065.03
Muğla                665,842.21
İzmir                165,934.83

In [186]:
df.groupby(["ConceptName"])[["Price"]].agg("sum").rename(columns={"Price": "ConceptTotalEarnings"})

                ConceptTotalEarnings
ConceptName
Herşey Dahil            3,332,910.77
Oda + Kahvaltı            121,308.35
Yarım Pansiyon            174,402.35

In [187]:
df.groupby(["SaleCityName"])[["Price"]].agg("mean").rename(columns={"Price": "CityPriceMean"})

              CityPriceMean
SaleCityName
Antalya               64.52
Aydın                 53.86
Diğer                 47.71
Girne                 59.48
Muğla                 62.46
İzmir                 66.27

In [188]:
df.groupby(["ConceptName"])[["Price"]].agg("mean").rename(columns={"Price": "ConceptPriceMean"})

                ConceptPriceMean
ConceptName
Herşey Dahil               62.67
Oda + Kahvaltı             50.25
Yarım Pansiyon             49.03

In [189]:
df.groupby(["SaleCityName","ConceptName"])[["Price"]].agg("mean").rename(columns={"Price": "CityConceptPriceMean"})

                             CityConceptPriceMean
SaleCityName ConceptName
Antalya      Herşey Dahil                   64.52
             Oda + Kahvaltı                 63.50
             Yarım Pansiyon                 67.19
Aydın        Herşey Dahil                   54.00
             Oda + Kahvaltı                 34.46
             Yarım Pansiyon                 30.02
Diğer        Herşey Dahil                   84.77
             Oda + Kahvaltı                 37.60
             Yarım Pansiyon                 42.11
Girne        Herşey Dahil                   97.68
             Oda + Kahvaltı                 39.78
             Yarım Pansiyon                 53.25
Muğla        Herşey Dahil                   63.02
             Oda + Kahvaltı                 59.04
             Yarım Pansiyon                 45.12
İzmir        Herşey Dahil                   74.70
             Oda + Kahvaltı                 41.32
             Yarım Pansiyon                 59.61

In [190]:
df['SaleCheckInDayDiffCat'] = pd.cut(df['SaleCheckInDayDiff'], 
                           bins=[-1, 7, 30, 90, df['SaleCheckInDayDiff'].max()],
                           labels=['Last Minuters', 'Potential Planners', 'Planners', 'Early Bookers'])

In [191]:
df

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons,SaleCheckInDayDiffCat
0,415122,2022-12-03,2022-12-03,79.30,Herşey Dahil,Antalya,Saturday,0,Low,Last Minuters
1,415103,2022-12-03,2022-12-03,45.97,Yarım Pansiyon,Antalya,Saturday,0,Low,Last Minuters
2,404034,2022-09-12,2022-09-13,77.84,Herşey Dahil,Antalya,Tuesday,1,High,Last Minuters
3,415094,2022-12-03,2022-12-10,222.71,Yarım Pansiyon,İzmir,Saturday,7,Low,Last Minuters
4,414951,2022-12-01,2022-12-03,140.48,Yarım Pansiyon,İzmir,Saturday,2,Low,Last Minuters
...,...,...,...,...,...,...,...,...,...,...
59159,51817,2016-01-05,2016-10-10,54.30,Herşey Dahil,Antalya,Monday,279,Low,Early Bookers
59160,51816,2016-01-05,2016-10-10,54.30,Herşey Dahil,Antalya,Monday,279,Low,Early Bookers
59161,51814,2016-01-05,2016-01-06,40.56,Herşey Dahil,Diğer,Wednesday,1,Low,Last Minuters
59162,51736,2016-01-04,2016-01-05,69.85,Yarım Pansiyon,Diğer,Tuesday,1,Low,Last Minuters
59163,51731,2016-01-04,2016-08-22,158.94,Herşey Dahil,Antalya,Monday,231,High,Early Bookers

In [192]:
df.groupby(["SaleCityName","ConceptName", "SaleCheckInDayDiffCat"])[["Price"]].agg(["mean", "count"])

C:\Users\Ichigo\AppData\Local\Temp\ipykernel_12568\1052117486.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["SaleCityName","ConceptName", "SaleCheckInDayDiffCat"])[["Price"]].agg(["mean", "count"])

                                                  Price
                                                   mean  count
SaleCityName ConceptName    SaleCheckInDayDiffCat
Antalya      Herşey Dahil   Last Minuters         62.75  14148
                            Potential Planners    64.90   8874
                            Planners              67.88   4490
                            Early Bookers         66.49   3281
             Oda + Kahvaltı Last Minuters         65.35    503
...                                                 ...    ...
İzmir        Oda + Kahvaltı Early Bookers         66.93      3
             Yarım Pansiyon Last Minuters         57.79    636
                            Potential Planners    64.80    198
                            Planners              60.51     47
                            Early Bookers         65.91     14

[72 rows x 2 columns]

In [193]:
agg_df = df.groupby(["SaleCityName", "ConceptName", "Seasons"]).agg({"Price": "mean"}).sort_values("Price", ascending=False)
agg_df.head(20)

                                     Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High    103.94
                            Low      90.94
İzmir        Yarım Pansiyon High     87.66
Diğer        Herşey Dahil   Low      87.31
                            High     83.79
İzmir        Herşey Dahil   High     74.75
                            Low      74.31
Antalya      Yarım Pansiyon High     73.26
             Oda + Kahvaltı High     66.27
             Herşey Dahil   High     64.92
Muğla        Herşey Dahil   High     63.38
Antalya      Yarım Pansiyon Low      62.00
             Herşey Dahil   Low      61.55
Muğla        Oda + Kahvaltı High     61.26
Antalya      Oda + Kahvaltı Low      60.67
Girne        Yarım Pansiyon High     58.38
İzmir        Yarım Pansiyon Low      55.35
Aydın        Herşey Dahil   High     54.95
İzmir        Oda + Kahvaltı High     54.14
Girne        Yarım Pansiyon Low      48.58

In [194]:
agg_df.reset_index(inplace=True)

In [195]:
agg_df["SalesLevelBased"] = (
    agg_df[["SaleCityName","ConceptName","Seasons"]]
    .apply(lambda x: "_".join(x.str.replace(" ", "", regex=False).str.upper()), axis=1)
)
agg_df

   SaleCityName     ConceptName Seasons  Price             SalesLevelBased
0         Girne    Herşey Dahil    High 103.94      GIRNE_HERŞEYDAHIL_HIGH
1         Girne    Herşey Dahil     Low  90.94       GIRNE_HERŞEYDAHIL_LOW
2         İzmir  Yarım Pansiyon    High  87.66    İZMIR_YARIMPANSIYON_HIGH
3         Diğer    Herşey Dahil     Low  87.31       DIĞER_HERŞEYDAHIL_LOW
4         Diğer    Herşey Dahil    High  83.79      DIĞER_HERŞEYDAHIL_HIGH
5         İzmir    Herşey Dahil    High  74.75      İZMIR_HERŞEYDAHIL_HIGH
6         İzmir    Herşey Dahil     Low  74.31       İZMIR_HERŞEYDAHIL_LOW
7       Antalya  Yarım Pansiyon    High  73.26  ANTALYA_YARIMPANSIYON_HIGH
8       Antalya  Oda + Kahvaltı    High  66.27   ANTALYA_ODA+KAHVALTI_HIGH
9       Antalya    Herşey Dahil    High  64.92    ANTALYA_HERŞEYDAHIL_HIGH
10        Muğla    Herşey Dahil    High  63.38      MUĞLA_HERŞEYDAHIL_HIGH
11      Antalya  Yarım Pansiyon     Low  62.00   ANTALYA_YARIMPANSIYON_LOW
12      Antalya    Herşey Dahil     Low  61.55     ANTALYA_HERŞEYDAHIL_LOW
13        Muğla  Oda + Kahvaltı    High  61.26     MUĞLA_ODA+KAHVALTI_HIGH
14      Antalya  Oda + Kahvaltı     Low  60.67    ANTALYA_ODA+KAHVALTI_LOW
15        Girne  Yarım Pansiyon    High  58.38    GIRNE_YARIMPANSIYON_HIGH
16        İzmir  Yarım Pansiyon     Low  55.35     İZMIR_YARIMPANSIYON_LOW
17        Aydın    Herşey Dahil    High  54.95      AYDIN_HERŞEYDAHIL_HIGH
18        İzmir  Oda + Kahvaltı    High  54.14     İZMIR_ODA+KAHVALTI_HIGH
19        Girne  Yarım Pansiyon     Low  48.58     GIRNE_YARIMPANSIYON_LOW
20        Muğla    Herşey Dahil     Low  48.30       MUĞLA_HERŞEYDAHIL_LOW
21        Muğla  Yarım Pansiyon    High  45.82    MUĞLA_YARIMPANSIYON_HIGH
22        Aydın  Oda + Kahvaltı     Low  44.45      AYDIN_ODA+KAHVALTI_LOW
23        Diğer  Yarım Pansiyon     Low  42.95     DIĞER_YARIMPANSIYON_LOW
24        Girne  Oda + Kahvaltı     Low  40.04      GIRNE_ODA+KAHVALTI_LOW
25        Diğer  Oda + Kahvaltı     Low  39.96      DIĞER_ODA+KAHVALTI_LOW
26        Diğer  Yarım Pansiyon    High  39.73    DIĞER_YARIMPANSIYON_HIGH
27        Girne  Oda + Kahvaltı    High  39.48     GIRNE_ODA+KAHVALTI_HIGH
28        Muğla  Oda + Kahvaltı     Low  37.77      MUĞLA_ODA+KAHVALTI_LOW
29        Diğer  Oda + Kahvaltı    High  34.84     DIĞER_ODA+KAHVALTI_HIGH
30        Aydın    Herşey Dahil     Low  33.68       AYDIN_HERŞEYDAHIL_LOW
31        İzmir  Oda + Kahvaltı     Low  33.56      İZMIR_ODA+KAHVALTI_LOW
32        Muğla  Yarım Pansiyon     Low  32.68     MUĞLA_YARIMPANSIYON_LOW
33        Aydın  Yarım Pansiyon    High  32.63    AYDIN_YARIMPANSIYON_HIGH
34        Aydın  Oda + Kahvaltı    High  30.39     AYDIN_ODA+KAHVALTI_HIGH
35        Aydın  Yarım Pansiyon     Low  25.27     AYDIN_YARIMPANSIYON_LOW

In [196]:
agg_df["Segment"] = pd.qcut(agg_df["Price"].squeeze(), 
                             4, 
                             labels=["D", "C", "B", "A"])

In [197]:
agg_df.head()

,SaleCityName,ConceptName,Seasons,Price,SalesLevelBased,Segment
0,Girne,Herşey Dahil,High,103.94,GIRNE_HERŞEYDAHIL_HIGH,A
1,Girne,Herşey Dahil,Low,90.94,GIRNE_HERŞEYDAHIL_LOW,A
2,İzmir,Yarım Pansiyon,High,87.66,İZMIR_YARIMPANSIYON_HIGH,A
3,Diğer,Herşey Dahil,Low,87.31,DIĞER_HERŞEYDAHIL_LOW,A
4,Diğer,Herşey Dahil,High,83.79,DIĞER_HERŞEYDAHIL_HIGH,A

In [198]:
agg_df.groupby("Segment").agg({"Price" : ["mean", "max", "sum", "count"]})

C:\Users\Ichigo\AppData\Local\Temp\ipykernel_12568\2130075025.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_df.groupby("Segment").agg({"Price" : ["mean", "max", "sum", "count"]})

        Price
         mean    max    sum count
Segment
D       33.37  39.48 300.30     9
C       44.89  54.14 403.99     9
B       60.27  64.92 542.47     9
A       82.47 103.94 742.21     9

In [199]:
agg_df.sort_values(by="Price")

,SaleCityName,ConceptName,Seasons,Price,SalesLevelBased,Segment
35,Aydın,Yarım Pansiyon,Low,25.27,AYDIN_YARIMPANSIYON_LOW,D
34,Aydın,Oda + Kahvaltı,High,30.39,AYDIN_ODA+KAHVALTI_HIGH,D
33,Aydın,Yarım Pansiyon,High,32.63,AYDIN_YARIMPANSIYON_HIGH,D
32,Muğla,Yarım Pansiyon,Low,32.68,MUĞLA_YARIMPANSIYON_LOW,D
31,İzmir,Oda + Kahvaltı,Low,33.56,İZMIR_ODA+KAHVALTI_LOW,D
30,Aydın,Herşey Dahil,Low,33.68,AYDIN_HERŞEYDAHIL_LOW,D
29,Diğer,Oda + Kahvaltı,High,34.84,DIĞER_ODA+KAHVALTI_HIGH,D
28,Muğla,Oda + Kahvaltı,Low,37.77,MUĞLA_ODA+KAHVALTI_LOW,D
27,Girne,Oda + Kahvaltı,High,39.48,GIRNE_ODA+KAHVALTI_HIGH,D
26,Diğer,Yarım Pansiyon,High,39.73,DIĞER_YARIMPANSIYON_HIGH,C
25,Diğer,Oda + Kahvaltı,Low,39.96,DIĞER_ODA+KAHVALTI_LOW,C
24,Girne,Oda + Kahvaltı,Low,40.04,GIRNE_ODA+KAHVALTI_LOW,C
23,Diğer,Yarım Pansiyon,Low,42.95,DIĞER_YARIMPANSIYON_LOW,C
22,Aydın,Oda + Kahvaltı,Low,44.45,AYDIN_ODA+KAHVALTI_LOW,C
21,Muğla,Yarım Pansiyon,High,45.82,MUĞLA_YARIMPANSIYON_HIGH,C
20,Muğla,Herşey Dahil,Low,48.30,MUĞLA_HERŞEYDAHIL_LOW,C
19,Girne,Yarım Pansiyon,Low,48.58,GIRNE_YARIMPANSIYON_LOW,C
18,İzmir,Oda + Kahvaltı,High,54.14,İZMIR_ODA+KAHVALTI_HIGH,C
17,Aydın,Herşey Dahil,High,54.95,AYDIN_HERŞEYDAHIL_HIGH,B
16,İzmir,Yarım Pansiyon,Low,55.35,İZMIR_YARIMPANSIYON_LOW,B
15,Girne,Yarım Pansiyon,High,58.38,GIRNE_YARIMPANSIYON_HIGH,B
14,Antalya,Oda + Kahvaltı,Low,60.67,ANTALYA_ODA+KAHVALTI_LOW,B
13,Muğla,Oda + Kahvaltı,High,61.26,MUĞLA_ODA+KAHVALTI_HIGH,B
12,Antalya,Herşey Dahil,Low,61.55,ANTALYA_HERŞEYDAHIL_LOW,B
11,Antalya,Yarım Pansiyon,Low,62.00,ANTALYA_YARIMPANSIYON_LOW,B
10,Muğla,Herşey Dahil,High,63.38,MUĞLA_HERŞEYDAHIL_HIGH,B
9,Antalya,Herşey Dahil,High,64.92,ANTALYA_HERŞEYDAHIL_HIGH,B
8,Antalya,Oda + Kahvaltı,High,66.27,ANTALYA_ODA+KAHVALTI_HIGH,A
7,Antalya,Yarım Pansiyon,High,73.26,ANTALYA_YARIMPANSIYON_HIGH,A
6,İzmir,Herşey Dahil,Low,74.31,İZMIR_HERŞEYDAHIL_LOW,A
5,İzmir,Herşey Dahil,High,74.75,İZMIR_HERŞEYDAHIL_HIGH,A
4,Diğer,Herşey Dahil,High,83.79,DIĞER_HERŞEYDAHIL_HIGH,A
3,Diğer,Herşey Dahil,Low,87.31,DIĞER_HERŞEYDAHIL_LOW,A
2,İzmir,Yarım Pansiyon,High,87.66,İZMIR_YARIMPANSIYON_HIGH,A
1,Girne,Herşey Dahil,Low,90.94,GIRNE_HERŞEYDAHIL_LOW,A
0,Girne,Herşey Dahil,High,103.94,GIRNE_HERŞEYDAHIL_HIGH,A

In [200]:
new_user = "AYDIN_YARIMPANSIYON_LOW"
agg_df[agg_df["SalesLevelBased"] == new_user]

,SaleCityName,ConceptName,Seasons,Price,SalesLevelBased,Segment
35,Aydın,Yarım Pansiyon,Low,25.27,AYDIN_YARIMPANSIYON_LOW,D