In [12]:
import seaborn as sns

df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [13]:
df.columns = df.columns.str.upper()
df.columns = [f"{col}_FLAG" if "NO" not in col else col for col in df.columns]

In [14]:
df.columns

Index(['TOTAL_FLAG', 'SPEEDING_FLAG', 'ALCOHOL_FLAG', 'NOT_DISTRACTED',
       'NO_PREVIOUS', 'INS_PREMIUM_FLAG', 'INS_LOSSES_FLAG', 'ABBREV_FLAG'],
      dtype='object')

In [15]:
df.head()

,TOTAL_FLAG,SPEEDING_FLAG,ALCOHOL_FLAG,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM_FLAG,INS_LOSSES_FLAG,ABBREV_FLAG
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA